.megaMenuCombo {
  position: absolute;
  top: 100%; /* Position right below the navbar */
  left: 0;
  right: 0;

  background: #fff;
  z-index: 999;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);

  /* This makes the background full-width, while content is constrained */
  /* It calculates the negative margin needed to align to the viewport edge */
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.left {
  display: flex;
  gap: 120px;
}

.left h4 {
  margin-bottom: 20px;
  font-weight: 600;
}

.left ul {
  list-style: none;
  padding: 0;
}

.left li {
  margin-bottom: 25px;


}

.items{
    color: rgb(79, 79, 79);
    font-weight: 600;
    font-family :Arial, Helvetica, sans-serif
}
.items:hover{
    color: green;
}

.right {
  display: flex;
  gap: 30px;
}
